/bin
/Business/Colosoft.Business/obj
/Caching/Colosoft.Caching/obj
/Core/Colosoft.Core/obj
/Net/Remote/Remote.Server/obj
/Data/Database/Colosoft.Data.Database.OracleUnmanaged/obj
/ServiceProcess/Colosoft.ServiceProcess/obj
/Owin/Colosoft.Owin/obj
/Kendo/Colosoft.Kendo.Mvc/obj
/GDA/GDADevartOracleProvider/obj
/GDA/GDAOracleProviderUnmanaged/obj
/GDA/GDAOracleProvider/obj
/Excel/Colosoft.Excel/obj
/Data/Caching/Remote/Caching.Remote.Server/obj
/Data/Caching/Remote/Caching.Remote.Client/obj
/Data/Caching/Caching/obj
/Data/Database/Colosoft.Data.Database.DevartOracle/obj
/Data/Database/Colosoft.Data.Database.Oracle/obj
/Data/Database/Colosoft.Data.Database.MySql/obj
/Data/Database/Colosoft.Data.Database.Generic/obj
/Data/Database/Colosoft.Data.Database/obj
/Query/Database/Colosoft.Query.Database.DevartOracle/obj
/Query/Database/Colosoft.Query.Database.OracleUnmanaged/obj
/Query/Database/Colosoft.Query.Database.Oracle/obj
/Query/Database/Colosoft.Query.Database.MySql/obj
/Query/Database/Colosoft.Query.Database.Generic/obj
/Query/Database/Colosoft.Query.Database/obj
/Net/Colosoft.Net.Web/obj
/Net/Colosoft.Net/obj
/Web/Colosoft.Web.Mvc/obj
/Web/Colosoft.Web.AspNet.Identity/obj
/Web/Colosoft.WebControls/obj
/Web/Colosoft.Web/obj
/Reports/Colosoft.Reports.Web/obj
/Reports/Colosoft.Reports/obj
/Drawing/Colosoft.Drawing/obj
/Security/Colosoft.Security.Captcha/obj
/DataAccess/Colosoft.DataAccess/obj
/Data/Schema/Colosoft.Data.Schema.GDA/obj
/Data/Schema/Colosoft.Data.Schema.Server/obj
/Data/Schema/Colosoft.Data.Schema/obj
/Data/Colosoft.Data/obj
/Query/Colosoft.Query/obj
/Text/Colosoft.Text.Jep/obj
/Text/Colosoft.Text/obj
/Validation/Colosoft.Validation/obj
/Mef/Colosoft.Mef/obj
/Security/Remote/Colosoft.Security.Remote.Client/obj
/Security/Remote/Colosoft.Security.Remote.Server/obj
/Net/Remote/Remote.Client/obj
/Data/Caching/.vs/Data.Caching/v14/.suo
/Web/.vs/Web/v14/.suo
/Core/.vs/Core/v14/.suo
/Reports/.vs/Reports/v14/.suo
/Business/.vs/Business/v14/.suo
/GDA/.vs/GDA.Provider.Oracle/v14/.suo
/Security/Remote/.vs/Remote/v14/.suo
/Net/.vs/Net.Remote/v14/.suo
/Excel/.vs/Excel/v14/.suo
/Caching/.vs/Caching/v14/.suo
/Data/Database/.vs/Database/v14/.suo
/Validation/.vs/Validation/v14/.suo
/Text/.vs/Text/v14/.suo
/ServiceProcess/.vs/ServiceProcess/v14/.suo
/Security/.vs/Security/v14/.suo
/Query/.vs/Query/v14/.suo
/Query/Database/.vs/Query.Database/v14/.suo
/Owin/.vs/Owin/v14/.suo
/Net/.vs/Net/v14/.suo
/Mef/.vs/Mef/v14/.suo
/Kendo/.vs/Kendo/v14/.suo
/Drawing/.vs/Drawing/v14/.suo
/DataAccess/.vs/DataAccess/v14/.suo
/Data/.vs/Data/v14/.suo
/Data/Schema/.vs/Schema/v14/.suo
/Data/Caching/Remote/.vs/Data.Caching.Remote/v14/.suo
/Excel/Colosoft.Excel/bin
/GDA/GDADevartOracleProvider/bin
/Business/Colosoft.Business/*.user
/Core/Colosoft.Core/*.user
/Data/Caching/Remote/Caching.Remote.Client/*.user
/Data/Colosoft.Data/*.user
/Data/Database/Colosoft.Data.Database.Oracle/*.user
/Data/Schema/Colosoft.Data.Schema/*.user
/Query/Database/Colosoft.Query.Database.DevartOracle/*.user
/Web/Colosoft.Web/*.user
/Web/Colosoft.WebControls/*.user
/Kendo/Colosoft.Kendo.Mvc/Colosoft.Kendo.Mvc.csproj2
